MAIL_HOST=smtp.mail.com
MAIL_PORT=666
MAIL_USERNAME=username
MAIL_PASSWORD=idontwanttobuythiscarpet
MAIL_TO=your@mail.com
MAIL_CC=your@mail.com
MAIL_FROM=your@mail.com
OAUTH_GITHUB_CLIENT_ID=<your-client-id>
OAUTH_GITHUB_CLIENT_SECRET=<your-client-secret>
NEXT_PUBLIC_WORDPRESS_SITE_URL=http://localhost:8000
NEXT_PUBLIC_NEXTJS_SITE_URL=http://localhost:3000
WP_CLIENT_ID=clientID
WP_CLIENT_SECRET=clientSecret
WP_GRAPHQL_ENDPOINT=your_endpoint_here
NEXTAUTH_SECRET=myfancyprivatesecret
NEXTAUTH_URL=http://whereartthou.com